---
// src/components/Cusdis.astro
const APP_ID = "3e3e4b8b-4e1c-4699-9386-6474aa099834";

// 💡 暴力測試：全部傳固定字串，完全不抓 Astro 的 props
// 如果連這段都 404，那就是官方伺服器根本不認這個 appId
const iframeSrc = `https://cusdis.com/api/widget?appId=${APP_ID}&pageId=test001&pageUrl=https://gwen0227.github.io/&pageTitle=test`;
---

<div class="cusdis-container mt-16 pt-8 border-t border-border/40">
  <iframe
    src={iframeSrc}
    style="width: 100%; min-height: 500px; border: 0;"
    id="cusdis-iframe"
    title="Cusdis Test"
  ></iframe>
</div>