---
// src/components/Cusdis.astro
const { pageId, pageUrl, pageTitle } = Astro.props;
const APP_ID = "3e3e4b8b-4e1c-4699-9386-6474aa099834";

// 💡 實驗：只傳 appId，看看官方伺服器會不會給過
const iframeSrc = `https://cusdis.com/api/widget?appId=${APP_ID}&pageId=test&pageUrl=https://gwen0227.github.io/&pageTitle=test`;
---

<div class="cusdis-container">
  <iframe src={iframeSrc} style="width: 100%; min-height: 500px; border: 0;"></iframe>
</div>